<article>
  <header class="bg-gold sans-serif">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <time class="f6 mb2 dib ttu tracked">
        <small>27 July, 2015</small>
      </time>
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          Obi Knows' Sounds
        </span>
      </h3>
      <h4 class="f3 fw1 georgia i">The definitive listing of all of Obinna Nnodim's musical creations.</h4>
      <h5 class="f6 ttu tracked black-80">By Obi</h5>
    </div>
  </header>
  <div class="pa4 ph7-l georgia mw9-l center">
    <!-- <p class="f5 f3-ns lh-copy measure georgia">
      Theodore Sturgeon was a science fiction author, critic, and the basis for Kurt Vonnegut's recurring character Kilgore Trout.
      He was prolific, authoring over 200 pieces himself and critiquing around 400 others.
    </p> -->
    <!-- <p class="f5 f3-ns lh-copy measure georgia">
      In 1958 he published a piece in Venture proclaiming what he called "Sturgeon's Revelation"
    </p> -->
    <!-- <p class="f6 f5-ns lh-copy measure i pl4 bl bw1 b--gold mb4">
      I repeat Sturgeon's Revelation, which was wrung out of me after twenty years of wearying defense of science fiction against
      attacks of people who used the worst examples of the field for ammunition, and whose conclusion was that ninety percent
      of SF is crud. Using the same standards that categorize 90% of science fiction as trash, crud, or crap, it can be argued
      that 90% of film, literature, consumer goods, etc. is crap. In other words, the claim (or fact) that 90% of science
      fiction is crap is ultimately uninformative, because science fiction conforms to the same trends of quality as all
      other artforms.
    </p> -->
    <p class="f5 f4-ns lh-copy measure mb4">
      heres some words, or maybe a sound cloud widget, something to occupy space
    </p>

    <p class="f5 f4-ns lh-copy measure">
      This is most likely, the wrong conversation for us as a community, to be having. The presence of bad tools - shouldn't discourage
      us from wanting more tools or frameworks. There are more books published in a single day than I will ever be able to
      read in my lifetime. But this does not make me sad. Or overwhelm me. Mostly I think about how excited I am to read
      the best books that are being published. And this is where we should push the conversation. How do we build better
      tools? What does that look like?
    </p>
  </div>
</article>

<!-- Posters -->
<main class="cf pa2">
  <div class="fl w-100 w-50-ns ph2">
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/elevaters030211_960.jpg">
    </a>
    <a href="" class="no-underline pv2 grow db">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/elevaters.jpg">
    </a>
    <a href="#" class="no-underline pv2 grow db">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/pink-and-noseworthy-22.12.10-cargo_960.jpg" />
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hw090911_960.jpg">
    </a>
  </div>
  <div class="fl w-50 w-25-ns ph2">
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/adam-stern-031209_960-2.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hw-080411-cargo_960.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hw18-240112-cc_960.jpg"> </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hw-residency-cargo_960.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/orchid-2-mnkr_960.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/O270711_960-2.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/adam-stern-020510_960.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/adam-stern-130610_960.jpg">
    </a>
  </div>
  <div class="fl w-50 w-25-ns ph2">
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/zach-hurd-101218_960.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hwspringtour-cargo_960-1.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/cc-shanee_960.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/ZachHurd-190111s_960.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hw170211pie-cargo_960.jpg">
    </a>
    <a href="" class="pv2 grow db no-underline black">
      <img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/adam-stern-191110_960.jpg">
    </a>
  </div>
</main>


<!-- List -->
<section class="cf w-100 pa2-ns">
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0006.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0002.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0003.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0004.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0007.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0008.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0009.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0010.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0011.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0012.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0013.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0014.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0015.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0016.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0017.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0018.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0019.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0020.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0021.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(http://mrmrs.github.io/images/0022.jpg);" class="db bg-center cover aspect-ratio--object"
      />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
    </a>
  </article>
</section>
