<article class="helvetica pb5">
  <header class="vh-50 bg-light-pink dt w-100">
    <div style="background:url(http://mrmrs.github.io/photos/display.jpg) no-repeat center right;background-size: cover;" class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9">Obi Knows Code</h1>
      <h2 class="f6 fw6 black">A website by Obinna</h2>
    </div>
  </header>
  <div class="serif ph3 ph4-m ph5-l">
    
    <p class=" tc lh-copy f5 f3-m f1-l measure center">
      Commit Calendar
    </p>
    <p class="tc ">
      by Github
    </p>
    <%= partial("code/commits.html") %>
  </div>
    
    
  <div class="serif ph3 ph4-m ph5-l">
    <div class="f5 f3-m lh-copy">
      <div class="cf dt-l w-100 bt b--black-10 pv4">
        <div class="dtc-l v-mid mw6 pr3-l">
          <img class="w-100" src="http://mrmrs.github.io/photos/009.jpg" alt="" />
        </div>
        <div class="dtc-l v-mid f6 f5-m f4-l measure-l">
          <p class="measure pv4-l center">
            <span class="fw9 fw4-ns">
              Before it burned to the ground, the structure</span> filled a small beach inlet below the Cliff House, also
            owned by Adolph Sutro at the time. Shortly after closing, a fire in 1966 destroyed the building while it was
            in the process of being demolished. All that remains of the site are concrete walls, blocked off stairs and passageways,
            and a tunnel with a deep crevice in the middle. The cause of the fire was arson. Shortly afterwards, the developer
            left San Francisco and claimed insurance money.
          </p>
        </div>
      </div>
      <div class="cf dn">
        <div class="fl w-100 w-50-l">
          <p class="f5 pv4">
            During high tides, water would flow directly into the pools from the nearby ocean, recycling the
            <span class="db f4 f3-m f1-l fw6 measure lh-title">two million US gallons of water in about an hour. </span>
          </p>
        </div>
        <div class="fl w-100 w-50-l">
          <p class="f5">
            During low tides, a powerful turbine water pump, built inside a cave at sea level, could be switched on from a control room
            and could fill the tanks at a rate of 6,000 US gallons a minute, recycling all the water in five hours.
          </p>
        </div>
      </div>
      <div class="cf">
        <div class="fl w-100 w-50-l pr2-l pb3">
          <img class="db w-100" src="http://mrmrs.github.io/photos/010.jpg" alt="Photo of a dusk skyline above a grassy rockface covered in trees.">
        </div>
        <div class="fl w-50 w-50-l pr1 pr0-l pl2-l pb3">
          <img class="db w-100" src="http://mrmrs.github.io/photos/011.jpg" alt="Photo of the sea and sky on the horizon with the foundations of a demolished house.">
        </div>
        <div class="fl w-50 w-50-l pl2 pl0-l pr2-l pb3">
          <img class="db w-100" src="http://mrmrs.github.io/photos/012.jpg" alt="Photo of the sea with mist covering the rocky formations near the shore.">
        </div>
        <div class="fl w-100 w-50-l pl2-l">
          <img class="db w-100" src="http://mrmrs.github.io/photos/013.jpg" alt="Photo of the foundations of a building on a cliff overlooking a lighthouse.">
        </div>
      </div>


      <main class="w-100 cf helvetica dark-gray bg-white pa3 pa4-m pa5-l mw9 center">
        <div class="fl w-50 pr2 pr3-l mb3 mb4-l">
          <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/v/022.jpg) center;"></div>
        </div>
        <div class="fl w-50 w-25-l pl2 pr2-m ph2-l mb3 mb4-l">
          <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/v/024.jpg) center;"> </div>
        </div>
        <div class="fl w-50 w-50 w-25-l pr2 pr0-l pl3-l mb3 mb4-l">
          <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/050.jpg) left;"> </div>
        </div>
        <div class="fl w-50 w-50 w-25-l pl2 pl0-l pr2-m pr4-l mb3 mb4-l">
          <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/049.jpg) center;"> </div>
        </div>
        <div class="fl w-100 w-50-l pr2-l pl2-ns mb4 mb0-l mb4 outline">
          <div class="pa4">
            <h1 class="f4 f2-l fw7 mt0 pv3-l bb-l bb--black">#004</h1>
            <p class="lh-copy mt2 mt3-m mt5-l f6">
              <span class="db-ns f6 fw7 lh-solid mb3 mb0-m mb4-l">Mies, my great mentor said:</span>
              <span class="fw9 f6 f1-l db lh-title mb3 mb4-l">“God is in the details.”</span>
              <span class="db-l measure-wide">
                That is the essence of syntax: the discipline that controls the proper use of grammar in the construction of phrases and
                the articulation of a language, Design. The syntax of design is provided by many components in the nature of the
                project.
              </span>
            </p>
          </div>
        </div>
        <div class="cf">
          <div class="fl w-100 w-25-l pl3-l mb3 mb4-l">
            <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/051.jpg) center;"> </div>
          </div>
          <div class="fl w-100 w-25-l pr3-l">
            <p class="lh-copy measure f6 pt3 pt0-l mt0 mb3 mb4-l center">
              <span class="fw6">For us Graphic Design is “organization of information.”</span> There are other types of graphic design more concerned
              with illustration or of a narrative nature. Nothing could be more useful to reach our intention than the Grid. The
              grid represents the basic structure of our graphic design, it helps to organize the content, it provides consistency,
              it gives an orderly look and it projects a level of intellectual elegance that we like to express. There are in nite
              kinds of grids, but just one - the most appropriate - for any problem. Therefore, it becomes important to know which
              kind of grid is the most appropriate. The basic understanding is that the smaller the module of the grid the least
              helpful it could be. We could say that an empty page is a page with an in nitesimal small grid. Therefore, it is
              equivalent to not being there. Conversely a page with a coarse grid is a very restricting grid offering too few alternatives.
              The secret is to nd the proper kind of grid for the job at hand. Sometimes, in designing a grid we want to have the
              outside margins small enough to provide a certain tension between the edges of the page and the content. After that
              we divide the page in a certain number of columns according to the content, three, two, four, ve, six, etc. Columns
              provide only one kind of consistency, but we also need to have an horizontal frame of reference to assure certain
              levels of continuity throughout the publication. Therefore, we will divide the page from top to bottom in a certain
              number of Modules, four, six, eight, or more, according to size and need. Once we have structured the page, we will
              begin to structure the information and place it in the grid in such a way that the clarity of the message will be
              enhanced by the placement of the text on the grid. There are in nite ways of doing this and that is why the grid
              is a useful tool, rather than a constricting device.
            </p>
          </div>
      
          <div class="fl w-100 w-75-l pv0 mv0">
            <div class="fl w-100 mb2 mb4-l">
              <div class="cover pv5 pv6-l" style="background:black url(http://mrmrs.github.io/photos/u/001.jpg) center;"> </div>
            </div>
            <div class="fl w-25 mb2 mb4-l">
              <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/u/002.jpg) center;"> </div>
            </div>
            <div class="fl w-75 pl2 pl4-l mb2 mb4-l">
              <div class="cover pv5 pv6-m pv7-l" style="background:black url(http://mrmrs.github.io/photos/u/003.jpg) center;"> </div>
            </div>
            <div class="fl w-100 mb2 mb4-l">
              <div class="cover pv5 pv6-ns" style="background:black url(http://mrmrs.github.io/photos/u/004.jpg) center;"> </div>
            </div>
          </div>
        </div>
      </main>

    </div>
  </div>
</article>