<article class="athelas">
  <div id="card-back" class="vh-100 dt w-100 tc bg-dark-gray white cover" />
  <div class="dtc v-mid">
    <div class="paper black-80">
      <!-- Business Card -->
      <h2 class="f6 fw1 ttu tracked pt4 lh-title">business card</h2>
      <!-- <h3 class="f6 fw1 lh-title">Summer MMXVI</h3> -->
      <h1 class="f1 f-headline-l fw1 i black-80">Obi Knows</h1>
        <blockquote class="ph0 mh0 measure f4 lh-copy center black-80">
          <p class="fw1 black-80">
            Freelance Creative & Artisan
            <cite class="f6 ttu tracked fs-normal">obinna nnodim</cite>
          </p>
        </blockquote>
    </div>
  </div>
  </div>
  </article>