<article class="athelas">
  <div id="card-wall" class="vh-100 dt w-100 tc bg-dark-gray white cover" />
  <div class="dtc v-mid">
    <div class="card-paper black-80 business-card">
      <!-- Business Card Header (change to obi card, something cool) -->
      <h3 class="f6 fw1 ttu tracked pt4 lh-title">business card</h3>


      <h2 class="libre f1 f-headline-l fw1 i black-80 mb1">Obi Knows</h2>
      <!-- <cite class="f6 ttu tracked fs-normal">obinna nnodim</cite> -->
        <blockquote class="ph0 mh0 measure f4 lh-copy center black-80">
          <h3 class="fw1 black-80 mb5">
            Contract Creative & Freelance Artisan
          </h3>
          <!-- contract button -->
          <a class="center f6 tracked ttu link dim ph3 pv2 mb2 dib white bg-black" href="#0">contact</a>
        </blockquote>
    </div>
  </div>
  </div>
</article>