<article class="helvetica pb5">
  <header class="vh-25 bg-light-pink dt w-100">
    <div style="background:url(https://images.pexels.com/photos/295047/pexels-photo-295047.png?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb) no-repeat center right;background-size: cover;" class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="tc f2 f-subheadline-l measure lh-title fw9">Obi Knows Research</h1>
      <h2 class="bg-whitetc f4 fw6 black">Science, Hidden Knows and More</h2>
    </div>
  </header>
  <div class="serif ph3 ph4-m ph5-l">
    <p class="lh-copy f5 f3-m f1-l measure center pv4">
      Most Recent
    </p>
    <div class="f5 f3-m lh-copy">
      
      <div class="cf dt-l w-100 bt b--black-10 pv4">
        
        <div class="dtc-l v-mid mw6 pr3-l">
          <img class="w-100" src="http://mrmrs.github.io/photos/009.jpg" alt="" />
        </div>
        <div class="dtc-l v-mid f6 f5-m f4-l measure-l">
          <p class="measure pv4-l center">
            <span class="fw9 fw4-ns">
              Before it burned to the ground, the structure</span> filled a small beach inlet below the Cliff House, also
            owned by Adolph Sutro at the time. Shortly after closing, a fire in 1966 destroyed the building while it was
            in the process of being demolished. All that remains of the site are concrete walls, blocked off stairs and passageways,
            and a tunnel with a deep crevice in the middle. The cause of the fire was arson. Shortly afterwards, the developer
            left San Francisco and claimed insurance money.
          </p>
        </div>
      </div>
      <div class="cf dn">
        <div class="fl w-100 w-50-l">
          <p class="f5 pv4">
            During high tides, water would flow directly into the pools from the nearby ocean, recycling the
            <span class="db f4 f3-m f1-l fw6 measure lh-title">two million US gallons of water in about an hour. </span>
          </p>
        </div>
        <div class="fl w-100 w-50-l">
          <p class="f5">
            During low tides, a powerful turbine water pump, built inside a cave at sea level, could be switched on from a control room
            and could fill the tanks at a rate of 6,000 US gallons a minute, recycling all the water in five hours.
          </p>
        </div>
      </div>
      <div class="cf">
        <div class="fl w-100 w-50-l pr2-l pb3">
          <img class="db w-100" src="http://mrmrs.github.io/photos/010.jpg" alt="Photo of a dusk skyline above a grassy rockface covered in trees.">
        </div>
        <div class="fl w-50 w-50-l pr1 pr0-l pl2-l pb3">
          <img class="db w-100" src="http://mrmrs.github.io/photos/011.jpg" alt="Photo of the sea and sky on the horizon with the foundations of a demolished house.">
        </div>
        <div class="fl w-50 w-50-l pl2 pl0-l pr2-l pb3">
          <img class="db w-100" src="http://mrmrs.github.io/photos/012.jpg" alt="Photo of the sea with mist covering the rocky formations near the shore.">
        </div>
        <div class="fl w-100 w-50-l pl2-l">
          <img class="db w-100" src="http://mrmrs.github.io/photos/013.jpg" alt="Photo of the foundations of a building on a cliff overlooking a lighthouse.">
        </div>
      </div>
    </div>
  </div>
</article>
<!-- 
  
-->

<main>
  <article class="bg-white">
    <div class="vh-75 cover bg-center" style="background-image: url(http://mrmrs.github.io/photos/001.jpg);"></div>
    <div class="ph4 ph5-m ph6-l">
      <div class="pv5 f4 f2-ns measure center">
        <h1 class="fw6 f1 fl w-100 black-70 mt0 mb3 avenir">Project Title #034</h1>
        <p class="db lh-copy black-70 serif fw1 mv0 f4 f3-m f2-l measure baskerville">
          A short description of your project. Maybe a few notes concerning your constraints and process. Standard lorem ipsum dolor
          sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etc. al dolore magna aliqua.
          Ut enim ad.
        </p>
      </div>
      <div class="cf mw8 center">
        <div class='fl w-33 w-50-m w-33-l pr2 pr2-l'>
          <div class="pv6 cover bg-center" style="background: url(http://mrmrs.github.io/photos/002.jpg);"></div>
        </div>
        <div class='fl w-33 w-50-m w-33-l ph3 pr0-m ph3-l'>
          <div class="pv6 cover bg-center" style="background-image: url(http://mrmrs.github.io/photos/003.jpg);"></div>
        </div>
        <div class='fl w-33 w-100-m w-33-l pl2 pl0-m pl2-l mt4-m'>
          <div class="pv6 cover bg-center" style="background-image: url(http://mrmrs.github.io/photos/004.jpg);"></div>
        </div>
      </div>
      <div class="measure f3 center mv5 black-70">
        <h1 class="fw6 f3 avenir">The subtitle for the project</h1>
        <p class="lh-copy measure f4 f3-ns black-70 baskerville">
          Back in the office after his vacation on a 154-foot rented yacht named Mister Terrible, he feels that relaxation slipping
          away. He feels pulled inward, toward his own most valuable and destructive traits. Slights roll through his mind,
          eating at him: worst record ever, can't build a team, absentee landlord. Jordan reads the things written about
          him, the fuel arriving in a packet of clips his staff prepares. He knows what people say. He needs to know, a needle
          for a hungry vein. There's a palpable simmering whenever you're around Jordan, as if Air Jordan is still in there,
          churning, trying to escape. It must be strange to be locked in combat with the ghost of your former self.
        </p>
        <p class="lh-copy measure f4 f3-ns black-70 baskerville">
          The memories came to him, how he felt then. "It was very pure, if I can say it right," he'd explain later. "It was pure in
          1984 … I was still dreaming." During the Olympics, he was deep in negotiations with Nike for his first shoe contract.
          He traded pins with other athletes. Eight years later, when he was the most famous person in the world and the
          Dream Team was forced to stay outside the Olympic Village, he'd be disappointed when that separation kept him from
          swapping pins again.
        </p>
      </div>
      <img src="http://mrmrs.github.io/photos/005.jpg" class="db w-100" />
      <blockquote class="mh0 pr0 mt5">
        <p class="f2 f1-l fw1 mv0 tc lh-title baskerville">
          “I remember going up to that McDonald's and getting my damn McRib. When I first got there.”
        </p>
        <p class="tc f6 gray">
          Michael Jordan
        </p>
      </blockquote>
      <div class="measure f4 f3-ns center mv5 black-70">
        <p class="lh-copy measure f3 black-70 baskerville">
          There's an unspoken shadow over the stories about that town house on Essex Drive. James Jordan remodeled the basement for
          his son. Did all the work himself, because he'd never let Michael pay for something he could do on his own. The
          first winter, while Michael was out of town for the All-Star Game, his pipes froze. His dad ripped out the walls,
          replacing the pipes himself, patching and repainting when he finished. He spent two weeks fixing his son's home.
          James and Mike -- that's where all this nostalgia has been headed, from the moment it began.
        </p>
        <div class="aspect-ratio aspect-ratio--16x9 mv5">
          <iframe src="https://www.youtube.com/embed/LAr6oAKieHk" class="aspect-ratio--object" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </article>
  <section class="cf mt5 pv5 bt b--black-05 ph6-l">
    <h1 class="tc f5 ttu fw6 tracked mb4 avenir">Other Projects</h1>
    <a href="#0" class="fl w-third w-25-ns border-box overflow-hidden ba bw2 white" title="">
      <div class="grow cover bg-center pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/hw-080411-cargo_960.jpg);"></div>
    </a>
    <a href="#0" class="fl w-third w-25-ns border-box overflow-hidden  ba bw2 white" title="">
      <div class="grow cover bg-top pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/hwspringtour-cargo_960-1.jpg);"></div>
    </a>
    <a href="#0" class="fl w-third w-25-ns border-box overflow-hidden ba bw2 white" title="">
      <div class="grow cover bg-top pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/cc010611.s_960.jpg);"></div>
    </a>
    <a href="#0" class="fl w-100 w-25-ns border-box overflow-hidden ba bw2 white" title="">
      <div class="grow cover bg-top pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/adam-stern-031209_960-2.jpg);"></div>
    </a>
    <a href="#0" class="fl w-50 border-box overflow-hidden ba bw2 white" title="">
      <div class="grow cover bg-center pv5 pv7-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg);"></div>
    </a>
    <a href="#0" class="fl w-50 border-box overflow-hidden ba bw2 white" title="">
      <div class="grow cover bg-center pv5 pv7-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/hw090911_960.jpg);"></div>
    </a>
  </section>
</main>