// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
// @import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// icons
@import "~font-awesome/css/font-awesome.css";

// Kube
@import "kube.scss";

// Tachyons (design system)
@import "tachyons.css";  // commented out for kube

// Fonts
@import url('https://fonts.googleapis.com/css?family=Quattrocento');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

// Global CSS
.quattro {
  font-family: 'Quattrocento', serif;
}
.libre {
  font-family: 'Libre Baskerville', serif;
}

.card-paper {
  margin: 0 auto;
  height: 80vh;
  // max-height: 440px;
  width: 70vw;
  // max-width: 740px;
  min-width: 300px;
  min-height: 440px;
  background-color: lemonchiffon,
  // background-color: #ebe6d4,
}

.rolodex {
  // background-color: sandybrown;
  width: 80vw;
  // height: 80vh;
}

// Card should mirror `urbanjungle.jpg`
#card-wall {
  background:url('https://78.media.tumblr.com/d3f4baf2afe2efb5876eb49b5b65de7f/tumblr_ndlbi5zAdj1tkoa55o1_r1_1280.jpg') no-repeat center;
}


// Kube
#media-grid {
  @include grid-media-columns(2);
  &>div {
    margin-bottom: 20px;
    height: 80px;
  }
  &>div:nth-child(2n) {
    height: 200px;
  }
  &>div:nth-child(5n) {
    height: 120px;
  }
}