// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
// @import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// icons
@import "~font-awesome/css/font-awesome.css";

// Tachyons (design system)
@import "tachyons.css";  // commented out for kube

// Fonts
@import url('https://fonts.googleapis.com/css?family=Quattrocento');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

// Global CSS
.quattro {
  font-family: 'Quattrocento', serif;
}
.libre {
  font-family: 'Libre Baskerville', serif;
}


.rolodex {
  // background-color: sandybrown;
  width: 80vw;
  // height: 80vh;
}
