<!-- Kube -->

<!-- Header -->
<header class="bg-white black-80 tc pv4 avenir">
  <a href="" class="bg-black-80 ba b--black dib pa3 w2 h2 br-100">
    <svg class="white" data-icon="skull" viewBox="0 0 32 32" style="fill:currentcolor">
      <title>skull icon</title>
      <path d="M16 0 C6 0 2 4 2 14 L2 22 L6 24 L6 30 L26 30 L26 24 L30 22 L30 14 C30 4 26 0 16 0 M9 12 A4.5 4.5 0 0 1 9 21 A4.5 4.5 0 0 1 9 12 M23 12 A4.5 4.5 0 0 1 23 21 A4.5 4.5 0 0 1 23 12"></path>
    </svg>
  </a>
  <h1 class="mt2 mb0 baskerville i fw1 f1">Title</h1>
  <h2 class="mt2 mb0 f6 fw4 ttu tracked">Your amazing subtitle</h2>
  <nav class="bt bb tc mw7 center mt4">
    <a class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="/">Home</a>
    <a class="f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l" href="/portfolio">Portfolio</a>
    <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l" href="/shop">Shop</a>
    <a class="f6 f5-l link bg-animate black-80 hover-bg-light-pink dib pa3 ph4-l" href="/about">About</a>
    <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" href="/contact">Contact</a>
  </nav>
</header>

<!-- A lil news update section. -->
<div class="dt mw6 center pt0 pb5 pv5-m pv6-ns">
  <div class="db dtc-ns v-mid-ns">
    <img src="http://tachyons.io/img/super-wide.jpg" alt="A bright blue sky" class="w-100 mw7 w5-ns" />
  </div>
  <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns">
    <p class="lh-copy">
      For desktop, this text is vertically aligned middle, no matter what the height of the image is. On mobile, this is a paragraph
      below an image.
    </p>
  </div>
</div>


<!-- maybe a sexy lil carousel -->
<article class="mw5 mw6-ns center pt4">
  <div class="aspect-ratio aspect-ratio--16x9 mb4">
    <div class="aspect-ratio--object cover" style="background:url(http://mrmrs.github.io/photos/001.jpg) center;"></div>
  </div>
</article>

<!-- The GRidd -->
<div id="media-grid" class="bg-lightest-blue pa2">
  <div class="ba bw2 bg-yellow">1</div>
  <div class="ba bw2 bg-light-green">2</div>
  <div class="ba bw2 bg-orange">3</div>
  <div class="ba bw2 bg-yellow">4</div>
  <div class="ba bw2 bg-light-green">5</div>
  <div class="ba bw2 bg-orange">6</div>
  <div class="ba bw2 bg-yellow">7</div>
  <div class="ba bw2 bg-light-green">8</div>
  <div class="ba bw2 bg-orange">9</div>
  <div class="ba bw2 bg-light-purple">10</div>
</div>